{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>Bienvenue sur la page d'accueil de l'application</h1>
<p>Ceci est la page d'accueil de votre projet Symfony.</p>
{% endblock %}